---
layout: page
title: Games
---

<div class="games">
    <ul id="game_list">
    {% for game in site.data.games %}
        <li class="game">
            <div class="game_main_info">
                <strong>{{ game.name }}</strong>
                <img src="img/games/{{ game.img }}"/>
            </div>
            <div class="game_desc">
                <p>{{ game.desc }}</p>
            </div>
            <div class="game_extra_info">
                <strong>Devs:</strong>
                <ul class="dev_list">
                {% for dev in game.devs %}
                    <li>{{ dev }}</li>
                {% endfor %}
                </ul>
            </div>
        </li>
    {% endfor %}
    </ul>
</div>
