---
layout: page
title: Games
---

<div class="games">
    <ul id="game_list">
    {% for game in site.data.games %}
        <li class="game">
            <div class="game_main_info">
                <strong>{{ game.name }}</strong>
                <img src="img/games/{{ game.img }}"/>
            </div>
            <div class="game_desc">
                <p>{{ game.desc }}</p>
            </div>
            <div class="game_extra_info">
                <strong>Devs:</strong>
                <ul class="dev_list">
                {% for dev in game.devs %}
                    <li>{{ dev }}</li>
                {% endfor %}
                </ul>


                <strong>Download Links:</strong>
                <ul class="download_list">
                {% for link in game.download %}
                    <li><a href={{ link }}>Download</a></li>
                {% endfor %}
                {% for googlelink in game.google %}
                    <li><a href={{googlelink}}>Google Play Store</a></li>
                {% endfor %}
                {% for amazonlink in game.amazon %}
                    <li><a href={{amazonlink}}>Amazon Appstore</a></li>
                {% endfor %}
                {% for applelink in game.apple %}
                    <li><a href={{applelink}}>Apple App Store</a></li>
                {% endfor %}
                {% for srclink in game.src %}
                    <li><a href={{srclink}}>Source</a></li>
                {% endfor %}
                    
                
                </ul>
            </div>
        </li>
    {% endfor %}
    </ul>
</div>
