---
layout: default
---

<div class="home">

  <ul class="recent_posts_list">
    {%  for post in site.posts limit: 5 %}
      <li>
        <div class="post">

          <header class="post-header">
            <h1 class="post-title">{{ post.title }}</h1>
            <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}</p>
          </header>

          <article class="post-content">
            {{ post.content }}
          </article>
        </div>
      </li>
    {% endfor %}
  </ul>

  <a href="{{ site.baseurl }}/posts.html">Older posts</a>

</div>
