<!doctype html>
<html ng-app="page" stu;e="height: 100%">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CDN -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	<!-- Stylesheet -->
	<link rel="stylesheet" type="text/css" href="../../style/style.css" />

	<title>SGDC Event Page</title>
	<meta name="description" content="A new event from the Stevens Game Development Club." />
	<link rel="shortcut icon" href="../../images/favicon.png" />

</head>

<body style="padding-top: 5px !important;">
	<div style="width: 100%;"> <!-- Logo -->
      <div id="logo-wrapper" style="width: 500px; margin-left: auto; margin-right: auto;">
        <a href="http://sgdc.github.io">
        <img src="../../images/logo.png" id="logo" style="height: 131px; padding-bottom: 0px;" />
        </a>
      </div>
    </div>


    <div class="container">
        <div class="jumbotron jumbotron-custom" style="text-align: center;">
        	<h2><a href="http://sgdc.github.io/#events">Back to Events</a></h2>

        	<h1>Template Event Page</h1> <!-- Event Title Here -->
        	<br />
            <!-- Description -->
        	<p>This is where a description of an event goes, if there is no external site to link to. Game Jams will usually link to their itch.io pages, but events like Learn Jam may need these custom html pages to provide information and download links. You can always provide a redirect to these pages if needed. Copy a folder and use it with its index.html to make links easier to read (ie /events/learnjam instead of /events/learnjam.html)</p>

        </div>
    </div>

</body>

</html>