<!-- events.html -->

<section ng-show="pgCtrl.events.present.length > 0">
	<h2>Current Event<span ng-show="pgCtrl.events.present.length > 1">s</span></h2>
	<table class="member-table events">
		<tr> <!-- Heading -->
			<td><strong>Name</strong></td>
			<td><strong>Date</strong></td>
			<td><strong>Location</strong></td>
		</tr>

		<tr ng-repeat="event in pgCtrl.events.present">
			<td> <!-- show <a> tag if link -->
				<a href="{{event.link}}" ng-show="event.link">{{event.name}}</a>
				<div ng-hide="event.link">{{event.name}}</div>

				<div ng-show="event.theme"><i>Theme: {{event.theme}}</i></div>
			</td> 
			<td>{{event.time}}</td>
			<td>{{event.location}}</td>
		</tr>
	</table>
	<br />
</section>

<section ng-show="pgCtrl.events.upcoming.length > 0">
	<h2>Upcoming Event<span ng-show="pgCtrl.events.upcoming.length > 1">s</span></h2>
	<table class="member-table events">
		<tr> <!-- Heading -->
			<td><strong>Name</strong></td>
			<td><strong>Date</strong></td>
			<td><strong>Location</strong></td>
		</tr>

		<tr ng-repeat="event in pgCtrl.events.upcoming">
			<td> <!-- show <a> tag if link -->
				<a href="{{event.link}}" ng-show="event.link">{{event.name}}</a>
				<div ng-hide="event.link">{{event.name}}</div>

				<div ng-show="event.theme"><i>Theme: {{event.theme}}</i></div>
			</td> 
			<td>{{event.time}}</td>
			<td>{{event.location}}</td>
		</tr>
	</table>
	<br />
</section>

<section ng-show="pgCtrl.events.past.length > 0">
	<h2>Past Event<span ng-show="pgCtrl.events.past.length > 1">s</span></h2>
	<table class="member-table events">
		<tr> <!-- Heading -->
			<td><strong>Name</strong></td>
			<td><strong>Date</strong></td>
			<td><strong>Location</strong></td>
		</tr>

		<tr ng-repeat="event in pgCtrl.events.past">
			<td> <!-- show <a> tag if link -->
				<a href="{{event.link}}" ng-show="event.link">{{event.name}}</a>
				<div ng-hide="event.link">{{event.name}}</div>

				<div ng-show="event.theme"><i>Theme: {{event.theme}}</i></div>
			</td> 
			<td>{{event.time}}</td>
			<td>{{event.location}}</td>
		</tr>
	</table>
</section>
