<!-- Item Gallery -->
<ul style="width: 100%; margin: 0px auto 10px; padding: 0px; list-style: none; position: relative; display: block; text-align: center;">
	<li ng-repeat="item in pgCtrl.games track by $index" class="item">
		<section style="margin-top: 10px; margin-left: auto; margin-right: auto; width: 100%;">

			<div class="game left"> <!-- Image and Title -->
				<h2 style="font-size: 20px; padding: 0px; margin: 3%; margin-top: 0px;">
					{{item.title}}</h2>
				<img ng-src="{{item.thumbnail}}" style="width: 80%; max-width: 128px; height: auto; margin-bottom: 10px;"></img>
				<h2 id="gameTime" style="font-size: 16px; padding:0px; margin:1%; margin-top: 0px; padding-bottom: 5px;">
					{{item.time}}</h2>
			</div>

			<div class="game center"> <!-- Description -->
				<p style="font-size: 12px; padding-top: 7%;">
					{{item.description}}</p>
			</div>

			<div class="game right"> <!-- Devs and Links -->
				<h2 style="font-size: 14px; padding: 0px; margin: 3%; margin-top: 0%;" id="devlisth">
					<strong>Devs</strong></h2>
				<ul style="height: 40%; margin: 0px; padding: 0px; padding-bottom: 10%; list-style-type: none;" id="devlist">
					<li style="font-size: 11px;" ng-repeat="dev in item.devs">{{dev}}</li>
				</ul>

				<h2 style="font-size: 14px; padding: 0px; margin: 1%; margin-top: 0%;" ng-show="item.links.length > 0"><strong>Links</strong></h2>
				<ul style="list-style-type: none; margin: 0px; padding: 0px; padding-bottom: 5px;" ng-show="item.links.length > 0">
					<li style="font-size: 11px;" ng-repeat="link in item.links"><a href="{{link.link}}">{{link.text}}</a></li>
				</ul>
			</div>
		</section>
	</li>
</ul>