<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron jumbotron-custom" style="text-align: center;">



	<article ng-show="pgCtrl.valueIs(0)" > <!-- Home and Blog -->
		<h1 style="font-family: arial, sans-serif; padding: 0px; margin: 0px;">
			{{pgCtrl.pageContents[pgCtrl.value].title}}</h1>
		<br/>

		<p ng-show="pgCtrl.notFound"><i>Sorry, we couldn't find that page. You have been redirected to the homepage.</i></p>

		<p ng-repeat="contents in pgCtrl.pageContents[pgCtrl.value].content">{{contents}}</p>

		<!-- Featured Youtube video -->
		<div class="videoWrapper">
			<iframe src="https://www.youtube.com/embed/hRU1-ekMvMI" frameborder="0" allowfullscreen></iframe>
		</div>
		<br />

		<!-- Important Links -->
		<ul class="centered-horizontal-list">
			<li ng-repeat="item in pgCtrl.socialMediaLinks">
				<a href="{{item.link}}">
					<img src="{{item.src}}" />
				</a>
			</li>
		</ul>

	</article>

	<article ng-show="pgCtrl.valueIs(1)"> <!-- Games -->
			<h1 style="font-family: arial, sans-serif; padding: 0px; margin: 0px;">
				{{pgCtrl.pageContents[pgCtrl.value].title}}
			</h1>
			<br />
			<p ng-repeat="contents in pgCtrl.pageContents[pgCtrl.value].content" style="font-size: 14px;">{{contents}}</p>
			
			<h3>Games List ({{pgCtrl.games.length}})</h3>
			<!-- Games Gallery -->
			<item-gallery></item-gallery> <!-- located in ./comp/item-gallery.html -->
	</article>

	<article ng-show="pgCtrl.valueIs(2)"> <!-- Events -->
		<h1 style="font-family: arial, sans-serif; padding: 0px; margin: 0px;">
			{{pgCtrl.pageContents[pgCtrl.value].title}}</h1> 
		<br/>
		<p ng-repeat="contents in pgCtrl.pageContents[pgCtrl.value].content">{{contents}}</p>

		<events></events> <!-- located in ./comp/events.html -->
	</article>

	<article ng-show="pgCtrl.valueIs(3)" > <!-- Members -->
		<h1 style="font-family: arial, sans-serif; padding: 0px; margin: 0px;">
			{{pgCtrl.pageContents[pgCtrl.value].title}}</h1>
		<br/>
		<p ng-repeat="contents in pgCtrl.pageContents[pgCtrl.value].content">{{contents}}</p>
		<member-tables></member-tables> <!-- located in ./comp/member-tables.html -->
	</article>


	<article ng-show="pgCtrl.valueIs(4)"> <!-- Catalog -->
		<h1 style="font-family: arial, sans-serif; padding: 0px; margin: 0px;">
			{{pgCtrl.pageContents[pgCtrl.value].title}}</h1> 
		<br/> <!-- create a p for each string in content -->
		<p ng-repeat="contents in pgCtrl.pageContents[pgCtrl.value].content" style="font-size: 14px;">{{contents}}</p>	

		<catalog></catalog> <!-- located in ./comp/catalog.html -->
	</article>

	<!-- Unused currently -->
	<article ng-show="pgCtrl.valueIs(5)"> <!-- Example, if anyone comes along wanting more tabs -->
		<!-- Display heading defined in page.js -->
		<h1 style="font-family: arial, sans-serif; padding: 0px; margin: 0px;">
			{{pgCtrl.pageContents[pgCtrl.value].title}}</h1> 
		<br/> <!-- create a p for each string in content -->
		<p ng-repeat="contents in pgCtrl.pageContents[pgCtrl.value].content">{{contents}}</p>	

		<!-- put whatever else you want -->

	</article>


</div>