	<!-- Navbar -->
    <!-- 
    <li role="separator" class="divider"></li>
    <li class="dropdown-header">Nav header</li>
    <li><a href="#">Separated link</a></li>
    <li><a href="#">One more separated link</a></li> 
    -->
<div style="width: 100%;">
  <div id="logo-wrapper" style="width: 500px; margin-left: auto; margin-right: auto;">
    <a href="http://sgdc.github.io">
    <img src="./images/logo.png" id="logo" />
    </a>
  </div>
</div>

<nav class="navbar navbar-default navbar-static-top navbar-custom">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav"> <!-- first, all normal navbar options -->
        <li ng-repeat="member in pgCtrl.navMembers track by $index" 
            ng-class="{'active': pgCtrl.value == $index}">
            <a href="" ng-click="pgCtrl.setValue($index);"><strong>{{member}}</strong></a>
        </li> 
        <!-- next, if anyone changes dropdownMembers in page.js -->
        <li class="dropdown" ng-show="pgCtrl.dropdownMembers.length">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ng-repeat="member in pgCtrl.dropdownMembers track by $index" ng-class="{'active': pgCtrl.value === $index + pgCtrl.navMembers.length}">
              <a href="" ng-click="pgCtrl.setValue($index + pgCtrl.navMembers.length)">{{member.display}}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
